@import url('https://fonts.googleapis.com/css?family=Tangerine');
/* Page style */
html {
  background-color: #D6D6D6;
}

body {
  margin: 0 auto;
  background-color: #DEDBA7;
  color: #1A212C;
  width: 90%;
}

/* Header style */
header {
  font-family: "Tangerine", serif;
  background-color: #1D7872;
  padding-left: 10px;
}

header a {
  text-decoration: none;
  color: #1A212C;
}

header h1 {
  display: inline-block;
  font-size: 80px;
  margin: 10px;
}

header h4 {
  font-size: 30px;
  margin: 0px 5px 0px 5px;
  padding-left: 10px;
}

img {
  border-radius: 1000em;
  width: 4em;
  height: auto;
}

article {
  padding-left: 10px;
}

td {
  text-align: left;
}

.active {
  color: #D13F32;
}

/* Nav style */
#nav {
  background-color: #71B095;
  width: 100%;
}

#nav td {
  font-size: 20px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  width: 14.2%;
}

#nav td a {
  text-decoration: none;
  color: #1A212C;
  display: block;
  width: 100%;
}

#nav td:hover {
  background-color: #D6D6D6;
}

#nav .activePage:hover {
  background-color: #71B095;
}

#nav td a:hover {
  color: #0D56D9;
}

.activePage {
  color: #0D56D9;
}

/* Footer style */
footer {
  text-align: center;
  padding-bottom: 0.01%;
}

/* Dashboard Style */
#dashboard h3 {
  font-size: 20px;
  text-decoration: underline;
  height: 10px;
}

/* Bills Style */
#bills h3 {
  font-size: 20px;
  text-decoration: underline;
  height: 10px;
}

/* Calendar Style */
#calendar-container{
  padding: 10px;
  width: 210px;
  height: 240px;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 10px;
  font-size: 16px;
  font-family: Arial;
  background-image: linear-gradient(#fff, #d3d3d3);
  margin: 1%;
  width: 48%;
  height: 100%;
  display: inline-block;
  margin-top: unset;
}

#calendar-container>div{
  padding: 0;
  margin-bottom: 10px;
}

#calendar-month-year{
  margin: 5px;
  border-bottom: 0.5px solid black;
}

#calendar-dates>table {
  width: 100%;
  border-collapse: collapse;
}

#calendar-dates>table>tr>td {
  padding: 0.1% 5% 5% 0.1%;
  border: 0.5px solid black;
}

.today b{
  background-color: #0D56D9;
  color: white;
  height: 25px;width: 25px;
  border-radius: 50%;
  display: block;
  text-align: center;
}

#calender-events {
  width: 30%;
  display: inline-block;
  height: 2em;
}

/* Messages */
#people_container {
  border-bottom: 5px solid black;
  margin-right: 0.5%;
}
#people_container table {
  width: 100%;
}

#people_container td {
  width: 5%;
}

#messages_container img{
  transform: scale(.75);
}

#messages_container table {
  margin-top: 0.25%;
}

#messages_container tr:nth-child(odd) {
  position: relative;
}

#messages_container tr:nth-child(even) {
  position: relative;
  left: 100%;
}

#messages_container td:nth-child(2) {
  border: 1px solid #71B095;
  border-radius: 100px / 75px;
  background-color: #71B095;
}

textarea {
box-shadow: #001 0px 0px 5px inset;
border: 1px none;
width: 98%;
height: 6em;
margin:auto;
margin-top:1em;
text-align: center;
}

#messages_container input{
  border: 1px solid black;
margin: auto;
    margin-top: auto;
display: block;
margin-top: .2em;
}

/* IOUs Style */
#iousList h3 {
  font-size: 20px;
  text-decoration: underline;
  height: 10px;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  #nav {
		display: block;
    padding-left: 35%;
	}

  #nav tr {
		display: block;
  }

  #nav td {
    display: block;
    border: none;
		position: relative;
    width: unset;
  }

  #nav td:hover {
    background-color: #71B095;
  }

  #calendar-container {
    width: 90%;
    display: block;
  }

  #calendar-events {
    width: !00%;
    display: block;
    height: 100%;
  }

  #personCard img {
    transform: scale(.75);
  }

  #messages_container img {
    transform: scale(.50);
  }

  #messages_container tr:nth-child(even) {
    left: 0%;
  }

  #messages_container td:nth-child(2) {
    border-radius: unset;
  }

  #message_wrapper {
    margin-right: 2%;
  }

  #personCard td {
    display: block;
    border: none;
		position: relative;
    width: 60%;
    padding-left: 25%;
    text-align: center;
  }

  header h1, h4 {
    text-align: center;
  }

  header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10em;
    width: unset;
    height: 80px;
}
  }
}
