@import url('https://fonts.googleapis.com/css?family=Tangerine');
/* Page style */
html, body {
  margin: 0 auto;
  background-color: #DEDBA7;
  color: #1A212C;
}

/* Header style */
header {
  font-family: "Tangerine", serif;
  background-color: #1D7872;
}

article {
  padding-left: 10px;
}

table {

}

td {
  text-align: left;
}

.active {
  color: #D13F32;
}

/* Nav style */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 25px;
}

li {
  float: left;
  border: 2px solid black;
  width: 14.07%;
  border-collapse: collapse;
  text-align: center;
}

li a {
  display: block;
}

/* Hover color: #71B095; */

/* Footer style */
footer {
  text-align: center;
}
