/* CSS designed by  Robert Erickson 

to understand the comments like 900px / 960px
   read http://alistapart.com/article/responsive-web-design/

*/
/*****************     main layout section             ************************/
body{
    margin: 36px auto;
    width: 90%;
}

#page{
    margin: 0 auto 53px;
    width: 93.75%; /* 900px / 960px  */
    border: 1px solid black;
    border-radius: 15px;
}
.right{
    float:right;
}
#main{
    /* float: right;
     width: 50%;  566px / 900px */
}

#other{
    float: right;
    width: 36.7777778%; /* 331px / 900px */
}

/*****************     header section             *****************************/
header{
    background-image: url("road.png");
    background-size: 100% auto;
    border: thin solid black;
    border-radius: 0.3em;
    color: lightgray;
    padding: 0 2em;
}

header h1 {
    margin: 0;
    padding: 0.8em 5.33333% 0.2em 0;  /* 48px / 900px */
}

header h2 {
    padding-left: 0.8em;
}

/*****************     navigation section         *****************************/
nav ol {
    background-color: rgb(217, 254, 255);
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ol li{
    background-color: rgb(217, 254, 255);
    border-radius: .2em;
    box-shadow: 10px 10px 6px -3px rgba(0, 0, 0, 0.78);
    display: inline-block;
    padding: 1em 3em;
}

nav ol li:hover{
    background-color: rgb(143, 226, 227);
    box-shadow: 10px 10px 6px -3px rgba(0, 0, 0, 0.3);
}


/*****************     article section             ****************************/
/* un comment and see what happens */
/*
article{
    height: 200px;
    overflow: auto;
}
*/

article h1, article p, article table{
    padding: .2em 8.48056537% .2em 8.48056537%; /* 48px / 566px */
}


/*****************     aside section              *****************************/
aside {
    margin: 0 auto;
}
aside h2, aside p{
    padding: .2em 8.48056537% .2em 8.48056537%; /* 48px / 566px */
}

figure{
    background-color: rgb(255, 255, 255);
    border: thin solid black;
    border-radius: 0.4em;
    box-shadow: 10px 10px 6px -3px rgba(0, 0, 0, 0.78);
    padding: 0.5em;
}

.parcel{
    background-color: rgb(255, 255, 255);
    border: thin solid black;
    border-radius: 0.4em;
    box-shadow: 10px 10px 6px -3px rgba(0, 0, 0, 0.78);
    padding: 0.5em;
}
.association{
    background-color: rgb(255, 255, 255);
    border: thin solid black;
    border-radius: 0.4em;
    box-shadow: 10px 10px 6px -3px rgba(0, 0, 0, 0.78);
    padding: 0.5em;
}
/*****************     footer section              ****************************/
footer{
    clear: both;
    padding: 0.8em 5.33333333%;  /* 48px / 900px */
}

/*****************     form section                ****************************/
#form article#main{
    float: none;
    margin: auto; /* because of the fixed width this centers the form */
    text-align: left;
    width: 600px; /* not repsonive but fixed */
}

/* need to clear any floats that may exist */
fieldset{
    border: 1px solid #00498e;
    clear: both;  
}
/* just pushes content to left side of the box. */
fieldset.contact{
    float: left;
}
/* when you look at the labels this pushes then next to the input and right
aligns them. Display block means they are each on their own line. */
fieldset.contact label{
    display: block;
    text-align: right /* pushes the text to the right where they line up */
        /* the float left above pushes everything back to the left*/
}

fieldset.contact input{
    width: 15em; /* works with above to be the same size for the boxes */
}

fieldset.buttons{
    border: none;
}

fieldset.wrapper {
    border: 0;
    margin: auto;
}

fieldset.wrapper legend {
    color: #00498e;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 10px;
}

fieldset.wrapper > legend {
    /* i only want the first legend ie if it follows the class wrapper */
    font-size: 2em;
}

label {
    color: #005cb3;
    display: block;
    font-size: .9em;
    font-weight: bold;
}

/* style the errors in the form so they are visible */
.mistake {
    color: #fff;
    background-color:#800;
    border: thin solid #000;
}

/* style the list of errors that will show before the form */
#errors ol li{
    color: #ff5555;
}

.webmaster{
    display:none;
}

/*****************     proposal section             *****************************/
.contractWrapper{
    border: .1em solid black;
}

.contractHidden{
    display: none;
}